html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 18px;
}

.form {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    background-color: green;
    border-radius: 12px;
    padding: 3%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 2%;
    line-height: 30px;
}

input {
    height: 24px;
    font-size: 18px;
    border-radius: 2px;
    width: 70%;
    border: 1px solid orange;
}

button {
    height: 50px;
    border-radius: 5px;
    border:0;
    font-size: 18px;
}

.result-print {
    background-color: yellow;
}

p {
    display: flex;
    justify-content: center;
    color: black;
    margin: 40px auto;
}
