@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
html {
  font-family: 'Roboto', sans-serif;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.wrapper {
  height:100%;
}


.calculator {
  display:flex;
  overflow:hidden;
  flex-direction: row;
  justify-content: space-between;
  border-radius:10px;
  box-shadow: 7px 7px 12px 1px rgba(0,0,0,0.5);
  width: 80%;
  margin:0 auto;
}

.entries {
  flex: 0 0 50%;
  margin: 25px 0px  25px 25px;
  font-size: 70%;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:flex-start;
}

.output {
  display: flex;
  flex-direction:column;
  align-items: center;
  width:35%;
  background: #222831;
}

.fields {
  margin-bottom:10px;
  color:#393e46;
  border:0px;
  background:rgba(196, 196, 196, 0.1);
  font-size: 100%;
  font-weight: 600;
  line-height: 200%;
  height: 30%;
}

#result {
  display:flex;
  visibility: hidden;

  height: 30%;
  color:#eeeeee;
  font-size: 100%;
}

.apply {
  border:0;
  padding:10px;
  border-radius:4px;
  background:#d65a31;
  color:#eeeeee;
}

.fv {
  color:#eeeeee;
}

.input-field {
  display:flex;
  flex-direction:column;
  font-size: 120%;
  width: 100%;
}

.field-name {
  color: silver;
  font-weight: 500;
  margin-bottom: 5px;
}

td {
  border:1px solid silver;
  margin-top:25px;
  font-size:100%;
  text-align:center;
}


table {
  width:100%;
  margin: 0 auto;
  font-size:80%; 
  border-collapse:collapse;
}

table tr:nth-child(2) {
  background:silver;
}

.details {
  display:none; 
  border-radius: 10px;
  padding: 5%;
  width: 70%;
  box-shadow: 7px 7px 12px 1px rgba(0,0,0,0.5);
  margin:0 auto;
  margin-top: 40px;
}

#error {
  display: flex;
  margin: 0 ;
  color: yellow;
  font-size: 11px;
}
  
